{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

title>{{ "hello "}}</title>

<link rel="stylesheet" type="text/css" href="{% static 'system_healthcheck/style.css' %}">
</head>
<body>
    <div >
        {% block content %} 
        {% endblock %}
    </div>
</body>
 <!-- <script> -->
 <!--        axios.defaults.xsrfCookieName = 'csrftoken'; -->
 <!--        axios.defaults.xsrfHeaderName = "X-CSRFTOKEN"; -->
 <!--    </script> -->
</html>
