<!DOCTYPE html>

{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width ,initial-scale=1.0">
        <link rel="shortcut icon"  href="{% static 'system_healthcheck/images/heart_check.ico' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static 'system_healthcheck/style.css' %}">
        <title>System health </title>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script type="module" src="{% static 'system_healthcheck/scripts/index.js'%}"></script>
    </head>
    <body style="margin: 10px;">
        <div class="grid">
            <header sytle="width: 100vw">
                <div class="header-container">
                    <img class="item1 item" width="128" height="128" src="{% static  'system_healthcheck/images/deam_logo.png'%} " alt="">
                    <!-- <h2 class="item1 item" >Oracle Health Check</h2> -->
                    <div>
                            
                    <img  class="item1 item" width="32" height="32" src="{% static 'system_healthcheck/images/power-off.png' %}">
                    <img  class="item1 item" width="32" height="32" src="{% static 'system_healthcheck/images/user.png' %}">
                    </div>
                </div>
            </header>

            <nav>
                Navbar
            </nav>

            <main>

                {% include 'system_healthcheck/dropbox.html' %} 

            </main>

        </div>

    </body>

</html>



