* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 20vh 78vh;
  grid-gap: 1em;
}
.grid > * {
  display: flex;
  align-items: center;
  justify-content: center;
}

header,
footer,
nav,
main,
article {
  background: #e5edf1;
  padding: 1em;
}
header h2 {
  text-decoration: underline;
}
.header-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
.item {
  margin: 2em;
  justify-content: center;
}
header,
footer {
  grid-column: 1 / 4;
}

article {
  min-width: 20em;
}

.box {
  font-size: 1.25rem;
  background-color: #c8dadf;
  position: relative;
  padding: 100px 20px;
}
.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}
.box.has-advanced-upload {
  outline: 2px dashed #92b0b3;
  outline-offset: -10px;
  transition: outline-offset 0.15s ease-in-out, background-color 0.15s linear;
}

.box__icon {
  width: 100%;
  height: 80px;
  fill: #92b0b3;
  display: block;
  margin-bottom: 40px;
}

.box.has-advanced-upload .box__dragndrop {
  display: inline;
  white-space: nowrap;
  cursor: pointer;
}
.container {
  width: 100%;
  max-width: 680px;
  text-align: center;
  margin: 0 auto;
}
.box__file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.box__file + label {
  max-width: 80%;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
}
.box.is-dragover {
  background-color: grey;
}
.box__button {
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 700;
  color: #e5edf1;
  background-color: #39bfd3;
  display: block;
  padding: 8px 16px;
  margin: 40px auto 0;
}
.box__button:hover {
  background-color: #0f3c4b;
}
.box__file + label:hover strong {
  color: #39bfd3;
}
.box.is-uploading .box__input {
  visibility: none;
}
.box.is-uploading .box__uploading {
  display: block;
}
